<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>projects</display-name>
	<filter>
		<description>
		</description>
		<display-name>Filter</display-name>
		<filter-name>Filter</filter-name>
		<filter-class>projects.Filter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Filter</filter-name>
		<url-pattern>/Filter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Filter</filter-name>
		<servlet-name>ChangePassword</servlet-name>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>projects.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Balance</display-name>
		<servlet-name>Balance</servlet-name>
		<servlet-class>projects.Balance</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePassword</display-name>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>projects.ChangePassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AmtTransfer</display-name>
		<servlet-name>AmtTransfer</servlet-name>
		<servlet-class>projects.AmtTransfer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetStatement</display-name>
		<servlet-name>GetStatement</servlet-name>
		<servlet-class>projects.GetStatement</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Loan</display-name>
		<servlet-name>Loan</servlet-name>
		<servlet-class>projects.Loan</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Loan1</display-name>
		<servlet-name>Loan1</servlet-name>
		<servlet-class>projects.Loan1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>projects.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Balance</servlet-name>
		<url-pattern>/Balance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AmtTransfer</servlet-name>
		<url-pattern>/AmtTransfer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetStatement</servlet-name>
		<url-pattern>/GetStatement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Loan</servlet-name>
		<url-pattern>/Loan</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Loan1</servlet-name>
		<url-pattern>/Loan1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
